.header {
    display: grid;
    grid-template-rows: 3rem auto;
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, .2),
        rgba($color-primary-dark, .2)),
        url(../img/matthew-henry-bg.jpg);
    background-size: cover;
    background-position: top;
    padding: 2rem 4rem;

    &__logo-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        width: 100%;
        max-width: 1440px;
        margin: auto;
    }
    
    &__logo {
        height: 5rem;
    }
    
    &__text-box {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        align-self: center;
        text-align: center;
        text-shadow: 1px 1px 1px black;
    }
}